*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

.about{
    background-color: #395C6B;
}

.buttons{
    background-color: #80A4ED;
}

.education{
    background-color: #D4CB92;
}

.experiences{
    background-color: #E6E1C5;
}

.projects{
    background-color: #BCD3F2;
}

.skills{
    background-color: #395C6B;
}

.awards{
    background-color: #395C6B;
}